@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background-color: #1C1A02;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: auto!important;
  height: auto!important;
  min-height: 100vh!important;
  box-sizing: border-box;
  border: 10px solid #FDF035;
}

h1 {
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

.loadDeck {
  text-align: center;
}

.wrapper{
  width: 100%;
  height:100vh;
}

.oneCart {
  float: left;
}

.new-deck {
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
} 

button {
  margin-top: 30px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.oneCart {
  width: 49%;
  text-align: center;
  margin: 40px 0px;
}

.oneCart p {
  color: white;
  text-align: center;
}

.pileCart {
  clear: both;
  display: inline-block;
  color: white;
  width: 49%;
  margin: 20px 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.pileCart b {
  font-size: 46px;
  vertical-align: middle;
  margin-left: 5px;
}

.buttonCart {
  clear: both;
  text-align: center;
}

.buttonCart button{
  margin: 20px 0;
}
